.teksts {
 height: auto;
  width: auto;
  border: 1px solid #4CAF50;
}
.arejaKatse{
  border-style: solid;
  padding: 30px 90px 30px 90px;
  margin: 50px 500px 50px 200px;
}
.iesniegt{
border: 1px solid #000000;
border-radius: 10px;
}
.button{
margin-left: 40%;
}
