.teksts {
 height: auto;
  width: auto;
  border: 1px solid #4CAF50;
}
.arejaKatse{
  padding: 30px 30px 30px 30px;
  margin: 50px 100px 50px 500px;
}
.iesniegt{
border-style: 2px solid #000000;
border-radius: 30px;
}
.button{
margin-right 10px;
}
